<h1>Eat-Da-Burger!</h1>

<h1>{{burgers}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12 text center">
            <img src="https://ksoo.com/files/2012/09/Giant-hamburger.jpg">
        </div>
    </div>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
     <p>Enter a burger you want to eat and click the button</p>
</form>

</div>







